*
{
    background-color: goldenrod;
}

.heading
{
    font-family: Georgia, "Courier New", "Times New Roman";
    font-size: 64px;
    color: orange;
    background-color: purple;
    text-align: center;
}

.images
{
    height: auto;
    width: 800px;
}

.text
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    color: white;
}

.list
{
    font-size: 24px;
    color: green;
}